/* register.component.scss

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out;
    }

    input:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .text-danger {
        color: #dc3545;
        font-size: 14px;
        margin-top: 4px;
    }
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
} */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;

    @media screen and (max-width: 500px) {
        max-width: 90%;
        
    }
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
}

@media screen and (max-width: 500px) {
    mat-card-title {
        font-size: 20px;
    }

    mat-form-field {
        margin-bottom: 10px;
    }
    
}

.error-snackbar {
    background-color: #f44336 !important;
}

  
 
.color{
  background-color:  #4020cd;
}
.slider{
  max-width: 100%;
}